<h1>welcome to University of Gujrat</h1>
<%= link_to "LogOut", logout_path%>
<ul>
  <% @project.each do |user| %>
    <li>
      <a href="projects/<%= user.id %>"><%= user.title %></a>
    </li>
  <% end %>
</ul>
<%=current_user.inspect%>
<%= link_to "Add Project", new_project_path %>
<div class="d-flex align-items-center justify-content-center">
    <h2>welcome to bug system</h2>
</div>

