<h1>New Article</h1>

<%= form_with model: @project do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :des %>
  </div>
    <%=current_user.inspect%>
    <div class="field">
      <%= form.hidden_field "user_id", current_user.id %>
    </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
